body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

li:hover {
    background-color: #f5f5f5;
}

li img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.details_row {
    margin: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-top: 10px;
}


.user_image_div img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.edit_delete_div {
    margin-top: 20px;
}

.btn-edit, .btn-delete {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.btn-edit:hover, .btn-delete:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-input {
    display: inline-block;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #999;
    color: white;
}

.btn-save {
    background-color: #4CAF50;
    color: white;
}

.btn-homepage {
    background-color: #05a7f8;
    color: white;
}

.btn:hover,
.cancel-btn:hover,
.btn-save:hover {
    opacity: 0.8;
}
