<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="details_row">
        <h1>{{user.full_name}}</h1>
        <br>

        {% if user.image_url %}
        <div class="user_image_div">
            <img class="user_image" src="{{user.image_url}}" alt="{{user.first_name}}'s pic's unavailable" class="img-fluid">
            {% else %}
            <img class="user_image" src="{{ default_image_url }}" alt="Default Image">
        </div>
        {% endif %}

        <br>
        <div class="edit_delete_div">
            <form>
                <button class="btn btn-edit"
                formaction="/{{user.id}}/edit"
                formmethod="GET">Edit
                </button>

                <button class="btn btn-delete"
                formaction="/{{user.id}}/delete"
                formmethod="POST">Delete
                </button>
            </form>
        </div>
        <br>
        <button class="btn btn-homepage"><a href="/">HomePage</a></button>
    </div>

</body>

</html>