<h1>Welcome to the Calculator App</h1>
<p>Select an operation to perform:</p>
<ul>
    <li><a href="/mean">Calculate Mean</a></li>
    <li><a href="/median">Calculate Median</a></li>
    <li><a href="/mode">Calculate Mode</a></li>
</ul>